/* Критично: Устанавливаем box-sizing для всех элементов */
* {
  box-sizing: border-box !important;
}

/* Основные стили приложения */
.app {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  /*margin-left: 250px;*/
  margin-left: 20vh;
  padding: 24px;
  overflow-y: auto;
  background: #f0f2f5;
  transition: margin-left 0.3s;
}

/* Адаптивность */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 16px;
  }
}